.cells {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	grid-template-rows: repeat(3, 100px);
	gap: 5px;
	margin: 0 auto;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3em;
	font-weight: bold;
	padding: 3px;
	background-color: rgb(176, 197, 230);
	border: 1px solid #444;
	color: rgb(41, 41, 81);
}

.cell0 {
	color: rgb(147, 6, 6);
}
