* {
	box-sizing: border-box;
}

/* .app {
	text-align: center;
	max-width: 300px;
	margin: 0 auto;
	padding: 20px;
} */

/* App.module.css */
.app {
	text-align: center;
	max-width: 320px;
	margin: 0 auto;
	padding: 20px;
	font-family: system-ui, sans-serif;
}

.wrapper {
	display: grid;
	gap: 12px;
}

.reset {
	background: hsl(236, 50%, 53%);
	color: white;
	border: none;
	padding: 10px 14px;
	border-radius: 8px;
}

.reset:hover {
	cursor: pointer;
	opacity: 0.9;
}
